div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

body{

}

#box1{
    position: static;
    background-image: url(sunflower.jpg);
    background-size: cover;
}

#box2{
    position: relative;
    top: 20px;
    left: 10px ;
    background-image: url(sunflower.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#box3{
    position: absolute;
    top: 500px;
}

#box4{
    position: fixed;
    top: 20px;
    z-index: 2;
    background-image: url(sunflower.jpg);
    background-size: auto;
}

